/* Navigation */
#navbar{
    padding: 0px 11px;
}

#navbar ul li {
    font-size: 1rem;
  }

/* Home Section  */

#home p {
   font-size: 1rem;
}

#home{
    padding: 22px 78px;
    height: 458px;

}

#home::before{
    height: 456px;
}

.h-primary {
    font-size: 2.8rem;
    padding: 2px;
  }

.btn {
    padding: 1px 12px;
    margin: 13px;
    font-size: 1.2rem;
}
/* services section  */
#service{
    flex-direction: column;
}

#service .box{

}
/* clint section  */
#client{
    overflow: hidden;
}

#client-section {
    height: 356px;
  }
.client-item{
    padding: 3px;
}
